<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Battle Web</title>
</head>
<body style="margin: 0; padding: 0; min-height: 100vh; background-color:blanchedalmond; display: flex; flex-direction: column;">
    <div style="display: flex; justify-content: center; background-color: darkblue;">
        <p style="color: aliceblue; font-size: large;">¡¡¡Bienvenid@ a la batalla web de Pokémon entrenador!!!</p>
    </div>
    <div style="background-color:whitesmoke; flex: 10;">

    </div>
    <footer style="background-color: lightgray; color: darkolivegreen; font-size: small; display: flex; justify-content: space-between; flex: 1;">
        <p>Proyecto: {{ proyecto }}</p>
        <p>Autor: {{ autor }}</p>
        <p>Año: {{ año }}</p>
    </footer>
</body>
</html>