{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
{% endblock %}

{% block header %} 

  {% for pokemon in POKEMON_DATA %}
  
    {% if pokemon["id"] == id %}

      pokemon["name"]

    {% endif %}

  {% endfor %}

{% endblock %}

{% block main %}

  {% for pokemon in POKEMON_DATA %}

  {% if pokemon["id"] == id %}
      <div>pokemon["sprites"]</div>
      <div>pokemon["name"]</div>
      <div>pokemon["height"]</div>
      <div>pokemon["weight"]</div>
      
    {% endif %}

  {% endfor %}

{% endblock %}
